<% if logged_in? %>

		<li class="nav-item">
			<a class="nav-link" href="<%= dashboard_path if logged_in? %>">Dashboard</a>
		</li>
		<li class="nav-item">
			<%= link_to "Start a Petition", new_petition_path, :class => 'nav-link' %>
		</li>
		<li class="nav-item">
			<%= link_to "My Petitions", dashboard_path, :class => 'nav-link' %>
		</li>
		<li class="nav-item">
			<%= link_to "Browse", petitions_path, :class => 'nav-link' %>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="/logout">Logout</a>
		</li>

<% else %>

		<li class="nav-item">
			<a class="nav-link" href="/signin">Sign In</a>
		</li>
		
		<li class="nav-item">
			<%= link_to "Browse", petitions_path, :class => 'nav-link' %>
		</li>

		<li class="nav-item">
			<%= link_to "Sign up", new_user_path, :class => 'nav-link' %>
		</li>
		
<% end %>
