<% if logged_in? %>

		<li class="nav-item">
			<a class="nav-link" href="<%= dashboard_path if logged_in? %>">Dashboard</a>
		</li>
		<li class="nav-item">
			<%= link_to "Start a Petition", new_user_petition_path(current_user), :class => 'nav-link' %>
		</li>
		<li class="nav-item">
			<%= link_to "My Petitions", dashboard_path, :class => 'nav-link' %>
		</li>
		<li class="nav-item">
			<%= link_to "Browse", petitions_path, :class => 'nav-link' %>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="/logout">Logout</a>
		</li>

<% else %>

		<li class="nav-item">
			<a class="nav-link" href="/signin">Sign In</a>
		</li>
		
		<li class="nav-item">
			<%= link_to "Browse", petitions_path, :class => 'nav-link' %>
		</li>



		<li class="nav-item">
			<%= link_to "Sign up", new_user_path, :class => 'nav-link' %>
		</li>

		
		
<% end %>

	<li class="nav-item dropdown">
		<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			Categories
		</a>
		<div class="dropdown-menu" aria-labelledby="navbarDropdown">
			<% cat_list.each do |c| %>
				<%= link_to "#{c.title} (#{c.petition_count})", category_path(c), :class => 'dropdown-item' %>
			<% end %>
      </li>

<li class="nav-item">
	<%= link_to "Most Signatures", petitions_most_signatures_path, :class => 'nav-link' %>
</li>

<li class="nav-item">
	<%= link_to "Goal Met", petitions_goal_met_path, :class => 'nav-link' %>
</li>
