
<%= form_for @petition do |f| %>
	<div class="form-group">
		<%= f.label :title %>
		<%= f.text_field :title, :class => 'form-control' %>
	</div>
	<div class="form-group">
		<%= f.label :description %>
		<%= f.text_area :description, :class => 'form-control', :rows => 15 %>
	</div>
	<div class="form-group">
		<%= f.label :goal, "Signature Goal" %>
		<%= f.number_field :goal, :class => 'form-control' %>
	</div>
	<hr class="my-3">
	<%# NESTED ATTRS  %>
		<%= f.fields_for :signatures, @petition.signatures.build do |sig| %>
		<h5>Your Signature</h5>
		<div class="form-group">
			<%= sig.label "Message" %>
			<%= sig.text_area :message, :class => "form-control", :placeholder => "I'm signing because... (optional)" %>
		</div>
		<div class="form-group form-check">
			<%= sig.check_box(:anonymous, {:class => 'form-check-input', :checked => true}, "false", "true") %>
			<%= sig.label :anonymous, "Display my name and comment on this petition", :class => 'form-check-label' %>
		</div>
		<%= sig.hidden_field :user_id, :value => current_user.id %>

		<% end %>
	<%# END NESTED ATTRS %>
	
	<%= f.hidden_field :author_id, :value => current_user.id %>
	<%= f.submit :class => "btn btn-danger" %>
<% end %>