<div class="row">
	<div class="col text-center">
		<h1>Browse Petitions</h1>
	</div>
</div>
<div class="row">
	<!-- <div class="col"> -->
	<div class="card-columns">
		<% @petitions.each do |p| %>
			<div class="card">
				<div class="card-body">
					<h4 class="card-title">
						<%= p.title %>
					</h4>
					<p class="card-text">
						<%= p.excerpt %>
					</p>
					<p class="card-text"><small class="text-muted">
							<%= p.author_name %> &mdash;
							<%= display_date(p.created_at) %></small></p>
				</div>
					<ul class="list-group list-group-flush">
						<li class="list-group-item"><%= p.signature_count %> supporters</li>
						<li class="list-group-item">Needs <%= p.signature_need %> more signatures</li>
					</ul>
				<div class="card-body">
					<%= link_to "Sign this Petition!", petition_path(p), :class => "btn btn-danger btn-block" %>
				</div>
				
			</div>
		<% end %>
	</div>
</div>
<!-- </div> -->
</div>