<div class="row mb-3"> <!-- Title and Meta Row -->
	<div class="col">
		
		<%= render 'shared/notices' if flash.any? %>

		<% if !logged_in? %>
			<div class="alert alert-primary text-center" role="alert">Must be <%= link_to 'logged in', signin_path %> to sign petition.</div>
		<% end %>
		<h1 class="petition-title mb-0"><%= @petition.title.upcase %></h1>
		<i class="far fa-user-circle"></i><small class="text-muted"> <%= link_to @petition.author_name, user_path(@petition.author), :class => 'badge badge-pill badge-danger' %> started this petition on <%= display_date(@petition.created_at) %></small>
		<br>
		<i class="far fa-folder mr-2"></i><small class="text-muted">Category: <%= link_to @petition.category_title, category_path(@petition.category) %></small>
	</div>
</div> <!-- end title and meta row -->
<div class="row mb-5"> <!-- petition description and signature form -->
	<div class="col-sm-8 petition-desc">
		<p><%= simple_format(@petition.description, {}, :sanitize => true) %></p>
	</div>
	<div class="col-sm-4">
		<div class="row">
			<div class="col">
				<% if logged_in? %>
					<%= render 'signatures/confirmation' if has_signed?(@petition) %>
				<% end %>
				<h3>Signature Goal: <%= @petition.signature_count %> of <%= @petition.goal %></h3>

				<%= render partial: 'signatures/progress_bar', locals: {percent: @petition.goal_percent} %>
			<% if logged_in? %>
				<%= render 'signatures/form' unless has_signed?(@petition) %>
			<% end %>
			</div>
		</div>
		<hr class="style-one">
		<div class="row mt-3 mb-5">
			<div class="col">
				<h3>Signatures:</h3>
				<%= render partial: 'signatures/attached_signatures', locals: {signatures: @petition.signatures_brief} %>
				<%= link_to petition_signatures_path(@petition) do %>
					<small class="text-muted float-right">[view all signatures]</small>
				<% end if @petition.signatures.count > 5 %>
			</div>
		</div>
	</div>
</div> <!-- END petition description and signature form -->


<%= render 'edit_links' if is_author?(@petition) %>

