<div class="row mb-3">
	<div class="col-sm-12">
		<h1 class="petition-title"><%= @petition.title %></h1>
		<small class="text-muted"><%= @petition.author_name %> started this petition on <%= display_date(@petition.created_at) %></small>
	</div>
</div>
<div class="row">
	<div class="col-sm-8 petition-desc">
		<p><%= simple_format(@petition.description, {}, :sanitize => true) %></p>
	</div>
	<div class="col-sm-4">
		<div class="row">
			<div class="col-sm-12">
				<h3>Add Your Signature</h3>
				<%= render 'signature_form' %>
			</div>
		</div>
		<div class="row mt-3">
			<div class="col-sm-12">
				<h3>Signatures:</h3>
				<%= render 'signatures' %>
			</div>
		</div>
	</div>
</div>



<div class="row">
	<div class="col-sm-6">
		<%= link_to "edit petition", edit_petition_path(@petition) %>
	</div>
</div>
