<div class="row">
	<h1><%= @user.name %> : Dashboard</h1>
</div>
<div class="row">
	<div class="col-sm-3 mb-3">
		<h2>Account Info</h2>
		<ul class="list-group">
		  <li class="list-group-item">Email: <%= @user.email %></li>
		  <li class="list-group-item"><%= link_to "edit", edit_user_path(@user) %></li>
		</ul>
	</div>
	<div class="col-sm-9">
		<div class="row mb-3">
			<div class="col">
				<h2>My Petitions</h2>
				<div class="list-group">
					<% @user.authored_petitions.each do |p| %>
				  <a href="<%= petition_path(p) %>" class="list-group-item list-group-item-action"><%= p.title %> &mdash; <%= p.signature_count %> Supporters</a>
				  <% end %>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<h2>I've Supported...</h2>
				<% @user.signatures.each do |s| %>
					<a href="<%= petition_path(s.petition) %>" class="list-group-item list-group-item-action"><%= s.petition.title %> &mdash; <%= s.petition.signature_count %> Supporters</a>
				<% end %>
			</div>
		</div>
	</div>

	
</div>
<%= console %>
