<!DOCTYPE html>
<html>
  <head>
    <script src="https://kit.fontawesome.com/a32031ea36.js" crossorigin="anonymous"></script>
    <title>Change</title>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <meta name="title" property="og:title" content="Change.org Clone">
    <meta name="description" property="og:description" content="A tribute to the famous signature-gathering petition site">
    <meta name="image" property="og:image" content="http://change-clone-demo.herokuapp.com/">
    <meta name="url"  property="og:url" content="https://danfoley.dev/wp-content/uploads/2020/11/change_screenshot_cropped.jpg">
    <meta name="author" content="Dan Foley">

    <meta name="twitter:title" content="Change.org Clone">
    <meta name="twitter:description" content="A tribute to the famous signature-gathering petition site">
    <meta name="twitter:image" content=" http://change-clone-demo.herokuapp.com/">
    <meta name="twitter:card" content="https://danfoley.dev/wp-content/uploads/2020/11/change_screenshot_cropped.jpg">


    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Karla&family=Vollkorn&display=swap" rel="stylesheet">
    <link
       rel="stylesheet"
       href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.0.0/animate.min.css"
     />
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-change mb-4 shadow-sm">
      <%= link_to "Change.org", root_path, :class => 'navbar-brand' %>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          
          <%= render 'sessions/dynamic_menu' %>
          
        </ul>
      </div>
    </nav>


    <div class="container">
      <%= yield %>
    </div>
    



    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>

<%# console %>
